.MuiDialogActions-root-340 {
    margin: auto !important;
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 10;
    justify-content: center !important;
    bottom: 0;
}

.MuiListItem-root-375 {
    padding-left: 0px !important;
}

.dialogHeader {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}